@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,700;1,5..1200,700&family=Poppins:wght@300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

#root{
    min-height: 100vh;
    display: flex;
}